body {
  margin: 0;
  text-align: center;
  background-color: #222;
  font-family: 'Roboto', sans-serif;
}

.canvas-container {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.p5Canvas {
  width: 50px;
}

.options {
  width: 170px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
}

.options__info {
  color: rgb(121, 204, 229);
  text-align: left;
  margin: 0 0 10px 0;
}

.options__link {
  text-decoration: none;
  color: rgb(208, 236, 245);
  transition: 0.3s;
}

.options__link:hover {
  text-shadow: 0 0 5px white;
}

.chord-btn {
  display: block;
  width: 100%;
  border-style: none;
  background: none;
  margin-bottom: 10px;
  padding: 5px;
  border: solid rgb(121, 204, 229) 2px;
  color: rgb(121, 204, 229);
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.chord-btn:hover,
.chord-btn--selected {
  background-color: rgb(121, 204, 229);
  color: #222;
}